@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root{
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

body{
    background-color: black;
    font-family: "Space Mono", monospace;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Light-grayish-cyan);
    height: 87vh;

    width: 85%;
    margin:60px auto -30px auto;
}

.container img{
margin: 1.2em;
padding: 30px 80px 20px 80px;
}

.bill-board{
    background-color: var(--White);
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 20px;
    height: 87%;
}

.tip-percent h3{
    color: var(--Grayish-cyan);
    padding-bottom: 2px;
    font-weight: 700;
    font-family: "Space Mono", monospace;
}

.tip-percent #bill{
    background-color: var(--Very-light-grayish-cyan);
    outline: none;
    color: var(--Very-dark-cyan);
    font-size: 24px;
    font-weight: 700;
}


input {
    width: 95%;
    border: 1px var(--Very-light-grayish-cyan);
    outline: none;
    background-color: var(--Light-grayish-cyan);
    direction: rtl;
    padding-left:45px;
    font-size: 24px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    font-family: "Space Mono", monospace;
}

input:hover{
    cursor: pointer;
    border: 2px solid var(--Strong-cyan);
}

.firstInput input{
    background-image: url("../images/icon-dollar.svg");
    background-position: 7px 6px;
}

.firstInput input:hover{
    cursor: pointer;
    border: 2px solid var(--Strong-cyan);
}

.selectTip{
color: var(--Dark-grayish-cyan);
font-weight: 200;
font-size: 15px;
margin: 12px 0 10px 0;
}

.tip-selector{
display: grid;
grid-template-columns:12.5% 12.5%;
margin-bottom: 15px;
column-gap: 0.5em;
row-gap: 0.5em;
width: 1000px;
}

.tipPercent{
    font-size: 19px;
    background-color: var(--Very-dark-cyan);
    border-radius: 5px;
    color: var(--White);
    padding: 3px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipPercent:hover{
background-color: var(--Strong-cyan);
cursor: pointer;
color: var(--Very-dark-cyan);
}

.tip-selector #fifty{
height: 30px;
font-size: 19px;
padding: 3px 0;
}


#tipCustom{
height: 30px; 
width: 98.9%;
border-radius: 5px;
font-size: 18px;
font-weight: 700;
cursor: pointer;
box-sizing: border-box;
}

.templateTip{
    background-color: var(--Strong-cyan);
}

.noOfPeople{
    display: flex;
    font-size: 13px;
    color: var(--Grayish-cyan);
}

#error{
   display: none;
    margin-left: 44px;
    color: red;
}

#totalPeople{
    background-image: url("../images/icon-person.svg");
    background-position: 7px 6px;
    margin: 5px 0px 15px 0px;
}

.board2{
    background-color: var(--White);
    width: 100%;
    height: 10px;
}

.total{
    width: 95.5%;
    height: 100vh;
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
      
}

.firstTotal, .Total{
    display: flex;
    justify-content: space-between;
}

.Total{
    padding-top: 10px;
}


.firstTotal .TipAmount,  #total{
    color: var(--White);
    font-size: 20px;
    font-weight: 500;
}

.person{
    color:var(--Grayish-cyan);
    font-size: 14px;
    padding-top: 4px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#tip-Given{
    color: var(--Strong-cyan);
    font-size: 30px;
    font-weight: 700;
}

#totalTip{
    color: var(--Strong-cyan);
    font-size: 30px;
    font-weight: 700;
}

#dollar{
    font-size: 25px;
}

#reset{
    
    width: 100%;
    padding: 2px 9px;
    background-color: var(--Strong-cyan);
    outline: none;
    border:  solid var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    border-radius: 9px;
    font-size: 24px;
    font-weight: 700;
}

#reset:hover{
    cursor: pointer;
    transform: .5s;
    background-color: var(--Light-grayish-cyan);
    border-color:  var(--Light-grayish-cyan);
}

/*933*/
@media only screen and (min-width: 800px){
    

    .container{
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    
    .container img{
        margin: 1.2em;
        padding: 120px 80px 20px 80px;
        }


    .bill-board{
       height: 60vh;
       padding: 100%, 0,  -1200%, 0;
       width: 65%;
       border-radius: 10px;
       justify-content:space-between
       
        
        
    }

    input {
        width: 170%;
        border: 1px var(--Very-light-grayish-cyan);
        outline: none;
        background-color: var(--Light-grayish-cyan);
        direction: rtl;
        padding-left:45px;
        font-size: 24px;
        margin-bottom: 5px;
        background-repeat: no-repeat;
        font-family: "Space Mono", monospace;
    }
    
    input:hover{
        cursor: pointer;
        border: 2px solid var(--Strong-cyan);
    }

    .peopleInput{
        margin-top: 30%;
        width: 47%;
    }

    .tip-selector{
        display: grid;
        grid-template-columns:12.5% 12.5% 12.5%;
        margin-bottom: 15px;
        column-gap: 0.5em;
        row-gap: 0.5em;
        width: 1000px;
        }

    .tip-percent{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .noOfPeople{
        display: flex;
        font-size: 13px;
        margin-bottom: 7px;
        width: 160%;
        color: var(--Grayish-cyan);
    }
    
     #error{
    display: none;
    margin-left: 7.5%;
   }

    .total{
        width: 30%;
        height: 45%;
        position: relative;
        top: -47%;
        left: 17%;
        margin: 80px, 3px, 10px, 1px;

    }
    
    .reset{
        margin-top: 30px;
    }

    .peopleInput{
        width: 52%;
    }
}
.attribution { font-size: 11px; text-align: center; background-color:}
.attribution a { color:var(--Strong-cyan); }
